<IfModule mod_rewrite.c>
RewriteEngine On

RewriteRule ^(assets)($|/) - [L]

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^(.*)/(.*) index.php?controller=$1&action=$2 [S=2]

</IfModule>